.create {
  height: 60px;
  background: white;
  padding-left: 10px;
  padding-right: 5px;
  display: flex;




  > div {
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.create__mid {
  width: 100%;

  button {
    width: 95%;
    padding: 7px 18px 7px 18px;
    text-align: left;
    border-radius: 15px;
    border: 1px solid gainsboro;
    background: none;
  }
}

.photo {
  flex-direction: column;

  p {
    margin: 0;
    font-size: 11px
  }
}

.user__icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}